@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(font-awesome/css/font-awesome.css);
@import url(nav.css);
@import url(question.css);
@import url(login.css);
html {
  height: 100%; }

body {
  font: 14px/20px 'open sans',sans-serif, 'Noto Sans TC',"微軟正黑體" !important;
  margin: 0;
  padding: 0;
  height: 100%; }

/*reset*/
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

br {
  display: block;
  margin: 0 0 5px; }

ol, ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body > img {
  display: none; }

img {
  border: none;
  padding: 0;
  margin: 0; }

a, a:active, a:visited, a:hover, a:focus {
  outline: none !important;
  text-decoration: none !important;
  background-color: none !important;
  display: block !important;
  -webkit-tap-highlight-color: transparent !important; }

table, tr, td {
  padding: 0;
  border-spacing: 0; }

/*reset end */
@keyframes slideRight {
  0% {
    transform: translateX(30px); }
  10% {
    transform: translateX(30px) scaleX(1.2) scaleY(0.8); }
  50% {
    transform: translateX(15px) scaleX(1.45) scaleY(0.65); }
  90% {
    transform: translateX(0) scaleX(1.2) scaleY(0.8); }
  100% {
    transform: translateX(0); } }
@keyframes slideLeft {
  0% {
    transform: translateX(0); }
  10% {
    transform: translateX(0) scaleX(1.2) scaleY(0.8); }
  50% {
    transform: translateX(15px) scaleX(1.45) scaleY(0.65); }
  90% {
    transform: translateX(30px) scaleX(1.2) scaleY(0.8); }
  100% {
    transform: translateX(30px); } }
@keyframes onText {
  0% {
    opacity: 0;
    transform: translateX(11px); }
  50% {
    opacity: 1;
    transform: translateX(0px); }
  100% {
    opacity: 1;
    transform: translateX(-10px); } }
@keyframes offText {
  0% {
    top: -19px;
    opacity: 0;
    transform: translateX(-10px); }
  50% {
    opacity: 1;
    transform: translateX(0px); }
  100% {
    top: -19px;
    opacity: 1;
    transform: translateX(11px); } }
@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  100% {
    transform: translate3d(0, 0, 0); } }
.slideInUp {
  animation-name: slideInUp;
  animation-duration: 0.5s; }

.overflow {
  overflow-y: hidden; }

.record-content::-webkit-scrollbar-track {
  background-color: #e9e0d3;
  border-radius: 7px; }

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 2px; }

progress[value]::-webkit-progress-bar, progress[value]::-moz-progress-bar {
  background-color: white;
  border-radius: 2px; }

progress[value]::-webkit-progress-bar, progress[value]::-moz-progress-bar {
  background-color: #e83b4d;
  border-radius: 2px; }

html .home-page {
  width: 100%;
  background-color: #2f3b46;
  overflow-x: hidden; }
  html .home-page .section1 {
    position: relative;
    padding-top: 80px;
    padding-bottom: 25px;
    background-color: #19ca90; }
    html .home-page .section1 .background-grey {
      position: absolute;
      top: -80px;
      width: 100%;
      height: 290px;
      background-color: #f1f1f1; }
    html .home-page .section1 #animation {
      position: absolute;
      top: -80px;
      left: 0; }
      html .home-page .section1 #animation canvas {
        top: 0;
        left: 0; }
    html .home-page .section1 .frame {
      position: relative;
      width: 95%;
      margin: auto; }
      html .home-page .section1 .frame .player {
        width: 100%;
        position: relative;
        border-radius: 15px;
        background-color: #2f3b46;
        padding: 20px; }
        html .home-page .section1 .frame .player .grey {
          position: relative;
          width: 100%;
          background-color: #d8d8d8;
          border-radius: 7px;
          padding: 13px 11px 53px 11px; }
          html .home-page .section1 .frame .player .grey .program-info {
            position: relative;
            width: 100%;
            background-color: white;
            border-radius: 5px;
            padding: 15px; }
            html .home-page .section1 .frame .player .grey .program-info .program-title {
              text-align: center;
              color: #2f3b46;
              font-size: 18px; }
            html .home-page .section1 .frame .player .grey .program-info .program-album {
              text-align: center;
              color: #2f3b46;
              font-size: 14px;
              margin-top: 10px; }
          html .home-page .section1 .frame .player .grey .controller {
            width: 100%;
            padding-top: 9px; }
            html .home-page .section1 .frame .player .grey .controller .seekbar {
              background-color: white;
              width: 100%;
              height: 5px;
              border-radius: 3px; }
              html .home-page .section1 .frame .player .grey .controller .seekbar:before {
                position: absolute;
                content: ' ';
                background-color: #e83b4d;
                width: 30%;
                height: 5px;
                border-radius: 3px; }
            html .home-page .section1 .frame .player .grey .controller .control-row {
              margin-top: 10px; }
              html .home-page .section1 .frame .player .grey .controller .control-row .auto-next {
                position: absolute;
                left: 50%;
                margin-left: -136px;
                margin-top: 9px; }
                html .home-page .section1 .frame .player .grey .controller .control-row .auto-next .auto-next-button {
                  width: 20px;
                  position: relative;
                  display: inline; }
                  html .home-page .section1 .frame .player .grey .controller .control-row .auto-next .auto-next-button label {
                    width: 15px;
                    height: 15px;
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #fcfff4;
                    border-radius: 7px; }
                    html .home-page .section1 .frame .player .grey .controller .control-row .auto-next .auto-next-button label:after {
                      content: '';
                      border-top: none;
                      border-right: none;
                      background: transparent;
                      opacity: 0;
                      content: '';
                      width: 9px;
                      height: 9px;
                      position: absolute;
                      top: 3px;
                      left: 3px;
                      background-color: #19ca90;
                      border-radius: 5px; }
                  html .home-page .section1 .frame .player .grey .controller .control-row .auto-next .auto-next-button input[type=checkbox] {
                    visibility: hidden; }
                    html .home-page .section1 .frame .player .grey .controller .control-row .auto-next .auto-next-button input[type=checkbox]:checked + label:after {
                      opacity: 1; }
                html .home-page .section1 .frame .player .grey .controller .control-row .auto-next span {
                  font-size: 10px;
                  vertical-align: text-bottom;
                  color: #2f3b46; }
              html .home-page .section1 .frame .player .grey .controller .control-row .last, html .home-page .section1 .frame .player .grey .controller .control-row .next {
                position: absolute;
                left: 50%;
                width: 32px;
                height: 32px;
                background: #2f3b46;
                border-radius: 16px;
                border: 0;
                box-shadow: 2px 2px 0px #999999; }
                html .home-page .section1 .frame .player .grey .controller .control-row .last:focus, html .home-page .section1 .frame .player .grey .controller .control-row .next:focus {
                  outline: 0; }
                html .home-page .section1 .frame .player .grey .controller .control-row .last i, html .home-page .section1 .frame .player .grey .controller .control-row .next i {
                  color: #f1f1f1;
                  font-size: 12px; }
              html .home-page .section1 .frame .player .grey .controller .control-row .last {
                margin-left: -67px;
                margin-top: 2px; }
                html .home-page .section1 .frame .player .grey .controller .control-row .last:active {
                  box-shadow: none;
                  margin-left: -65px;
                  margin-top: 4px; }
              html .home-page .section1 .frame .player .grey .controller .control-row .next {
                margin-top: 2px;
                margin-left: 40px; }
                html .home-page .section1 .frame .player .grey .controller .control-row .next:active {
                  box-shadow: none;
                  margin-top: 4px;
                  margin-left: 42px; }
              html .home-page .section1 .frame .player .grey .controller .control-row .play {
                position: absolute;
                left: 50%;
                width: 40px;
                height: 40px;
                background: #2f3b46;
                border-radius: 20px;
                border: 0;
                box-shadow: 2px 2px 0px #999999;
                margin-top: -2px;
                margin-left: -18px; }
                html .home-page .section1 .frame .player .grey .controller .control-row .play:focus {
                  outline: 0; }
                html .home-page .section1 .frame .player .grey .controller .control-row .play:active {
                  box-shadow: none;
                  margin-top: 0px;
                  margin-left: -16px; }
                html .home-page .section1 .frame .player .grey .controller .control-row .play i {
                  position: relative;
                  color: #19ca90;
                  font-size: 18px;
                  left: 1px;
                  top: 1px; }
              html .home-page .section1 .frame .player .grey .controller .control-row .volume {
                width: 33px;
                position: absolute;
                left: 50%;
                margin-left: 105px;
                margin-top: 16px; }
                html .home-page .section1 .frame .player .grey .controller .control-row .volume input:before {
                  content: "\f027";
                  font-family: FontAwesome;
                  font-size: 20px;
                  color: white;
                  margin-left: -18px;
                  margin-top: -8px;
                  position: absolute; }
        html .home-page .section1 .frame .player .intro-title {
          color: white;
          font-size: 18px;
          margin-top: 15px; }
        html .home-page .section1 .frame .player .intro-content {
          color: white;
          font-size: 14px;
          margin-top: 15px; }
        html .home-page .section1 .frame .player .keywords {
          margin-top: 15px;
          font-size: 14px;
          color: white; }
          @media (min-width: 992px) {
            html .home-page .section1 .frame .player .keywords:before, html .home-page .section1 .frame .player .keywords:after {
              content: " ";
              position: absolute;
              width: 32px;
              height: 14px;
              background-color: #d8d8d8;
              border-radius: 0 0 7px 7px;
              bottom: -14px; }
            html .home-page .section1 .frame .player .keywords:after {
              right: 20px; } }
        @media (min-width: 992px) {
          html .home-page .section1 .frame .player {
            width: 595px;
            float: left;
            clear: both; } }
      html .home-page .section1 .frame .player-feet {
        width: 32px;
        height: 14px;
        background-color: #d8d8d8;
        float: left;
        margin-left: 20px;
        border-radius: 0 0 7px 7px; }
        @media (min-width: 992px) {
          html .home-page .section1 .frame .player-feet {
            display: none; } }
      html .home-page .section1 .frame .player-feet2 {
        width: 32px;
        height: 14px;
        background-color: #d8d8d8;
        float: right;
        margin-right: 20px;
        border-radius: 0 0 7px 7px; }
        @media (min-width: 992px) {
          html .home-page .section1 .frame .player-feet2 {
            display: none; } }
      html .home-page .section1 .frame .series {
        position: relative;
        background-color: white;
        width: 100%;
        border: 10px solid #2f3b46;
        border-radius: 15px;
        margin-top: 30px; }
        html .home-page .section1 .frame .series .series-info {
          position: relative;
          padding: 20px 15px 0px 15px; }
          html .home-page .section1 .frame .series .series-info .series-info-pic {
            position: relative;
            width: 47px;
            height: 47px;
            background-image: url(img/nature.jpg);
            background-size: cover;
            float: left;
            clear: both; }
          html .home-page .section1 .frame .series .series-info .series-info-text {
            display: inline;
            float: left;
            margin-left: 10px; }
            html .home-page .section1 .frame .series .series-info .series-info-text .series-title {
              font-size: 18px; }
            html .home-page .section1 .frame .series .series-info .series-info-text .series-number {
              font-size: 12px; }
        html .home-page .section1 .frame .series .episodes {
          clear: both;
          padding: 15px 15px; }
          html .home-page .section1 .frame .series .episodes li a {
            color: black; }
            html .home-page .section1 .frame .series .episodes li a .episode-name {
              margin-left: 7px; }
              html .home-page .section1 .frame .series .episodes li a .episode-name:hover {
                text-decoration: underline !important; }
          html .home-page .section1 .frame .series .episodes li .this-episode {
            color: #e83b4d; }
          @media (min-width: 992px) {
            html .home-page .section1 .frame .series .episodes {
              padding-bottom: 40px; } }
        html .home-page .section1 .frame .series .next-episode {
          color: white;
          text-align: center;
          background-color: #f4af2e;
          border-radius: 0 0 5px 5px;
          height: 30px;
          vertical-align: middle;
          line-height: 30px; }
          html .home-page .section1 .frame .series .next-episode:hover {
            background-color: #d8881d; }
          @media (min-width: 992px) {
            html .home-page .section1 .frame .series .next-episode {
              position: absolute;
              width: 100%;
              bottom: 0; } }
        @media (min-width: 992px) {
          html .home-page .section1 .frame .series {
            width: 342px;
            float: right;
            margin-top: 0px;
            margin-left: 23px; } }
      @media (min-width: 532px) {
        html .home-page .section1 .frame {
          width: 491px; } }
      @media (min-width: 992px) {
        html .home-page .section1 .frame {
          width: 800px;
          display: flex; } }
    @media (min-width: 768px) {
      html .home-page .section1 {
        padding-top: 90px; } }
    @media (min-width: 991px) {
      html .home-page .section1 {
        padding-bottom: 70px; } }
  html .home-page .section2 {
    padding: 20px 0;
    background-color: #f1f1f1; }
    html .home-page .section2 .frame {
      text-align: center;
      margin: auto; }
      html .home-page .section2 .frame .mibo {
        width: 105px;
        height: 105px; }
        @media (min-width: 992px) {
          html .home-page .section2 .frame .mibo {
            width: 120px;
            height: 120px; } }
      html .home-page .section2 .frame .interactive {
        margin-left: 20px; }
        html .home-page .section2 .frame .interactive .text {
          margin-top: 20px;
          text-align: center; }
          @media (min-width: 992px) {
            html .home-page .section2 .frame .interactive .text {
              margin-top: 7px; } }
        html .home-page .section2 .frame .interactive .interactive-control {
          margin-top: 10px;
          text-align: center;
          margin-left: -76px; }
          html .home-page .section2 .frame .interactive .interactive-control .interactive-button-text {
            font-size: 18px; }
          html .home-page .section2 .frame .interactive .interactive-control .interactive-button .switch {
            position: absolute;
            opacity: 0; }
          html .home-page .section2 .frame .interactive .interactive-control .interactive-button .switch-label {
            position: absolute;
            overflow: hidden;
            width: 64px;
            height: 30px;
            border: 2px solid #e83b4d;
            border-radius: 20px;
            text-indent: -9999px;
            cursor: pointer;
            transition: color 75ms, border-color 75ms;
            transition-delay: 50ms, 50ms;
            user-select: none;
            margin-left: 10px;
            margin-top: -5px; }
          html .home-page .section2 .frame .interactive .interactive-control .interactive-button .switch-label:before {
            position: absolute;
            top: 2px;
            display: block;
            overflow: hidden;
            width: 60px;
            height: 40px;
            color: #e83b4d;
            content: 'On\AOff';
            text-align: center;
            text-indent: 0;
            text-transform: uppercase;
            white-space: pre;
            font-weight: bold;
            font-size: 14px;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 20px;
            margin-top: 2px; }
          html .home-page .section2 .frame .interactive .interactive-control .interactive-button .switch-label:after {
            position: absolute;
            top: 1px;
            left: 1px;
            z-index: 2;
            width: 24px;
            height: 24px;
            border-radius: 100%;
            background: #e83b4d;
            content: ''; }
          html .home-page .section2 .frame .interactive .interactive-control .interactive-button .switch-label:before,
          html .home-page .section2 .frame .interactive .interactive-control .interactive-button .switch-label:after {
            animation-duration: 75ms;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards; }
          html .home-page .section2 .frame .interactive .interactive-control .interactive-button .switch + .switch-label:after {
            animation-name: slideRight; }
          html .home-page .section2 .frame .interactive .interactive-control .interactive-button .switch:checked + .switch-label:after {
            animation-name: slideLeft;
            background-color: white;
            left: 5px; }
          html .home-page .section2 .frame .interactive .interactive-control .interactive-button .switch:checked + .switch-label:before {
            color: white;
            animation-name: onText; }
          html .home-page .section2 .frame .interactive .interactive-control .interactive-button .switch + .switch-label:before {
            color: #e83b4d;
            animation-name: offText; }
          html .home-page .section2 .frame .interactive .interactive-control .interactive-button .switch:checked + .switch-label {
            background-color: #e83b4d; }
          @media (min-width: 992px) {
            html .home-page .section2 .frame .interactive .interactive-control {
              margin-top: 20px; } }
        @media (min-width: 992px) {
          html .home-page .section2 .frame .interactive {
            margin-left: 42px; } }
      @media (min-width: 991px) {
        html .home-page .section2 .frame {
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          -webkit-justify-content: center;
          justify-content: center; } }
    @media (min-width: 991px) {
      html .home-page .section2 {
        padding: 35px 0; } }
  html .home-page footer {
    background-color: #2f3b46;
    color: white;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px; }
    html .home-page footer .frame {
      width: 90%;
      margin: auto; }
      @media (min-width: 991px) {
        html .home-page footer .frame span {
          margin-left: 15px; }
          html .home-page footer .frame span:first-child {
            margin-left: 0; } }
      html .home-page footer .frame .link {
        display: flex; }
        html .home-page footer .frame .link a {
          color: white;
          margin-left: 5px;
          flex: initial; }
          html .home-page footer .frame .link a:first-child {
            margin-left: 0; }
          @media (min-width: 991px) {
            html .home-page footer .frame .link a {
              margin-left: 15px; } }

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */ }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent; }

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -3px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ }

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 0;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer; }

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 0;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer; }

/*track*/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: white;
  border-radius: 2px;
  border: 0; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #19ca90; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #19ca90;
  border-radius: 2px;
  border: 0; }

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9; }

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd; }

html .record-page {
  width: 100%;
  background-color: #2f3b46; }
  html .record-page .section1 {
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #f1f1f1; }
    html .record-page .section1 .page-title {
      font-size: 18px;
      text-align: center; }
    html .record-page .section1 .series {
      width: 220px;
      margin: auto;
      margin-top: 20px; }
      html .record-page .section1 .series .slick-prev {
        left: -35px; }
        html .record-page .section1 .series .slick-prev:before {
          content: "\f0d9";
          font-family: FontAwesome;
          color: #2f3b46;
          font-size: 25px; }
      html .record-page .section1 .series .slick-next {
        right: -35px; }
        html .record-page .section1 .series .slick-next:before {
          content: "\f0da";
          font-family: FontAwesome;
          color: #2f3b46;
          font-size: 25px; }
      html .record-page .section1 .series .slick-current .series-content {
        background-color: #f4af2e; }
      html .record-page .section1 .series .series-content {
        max-width: 220px;
        display: flex !important;
        display: -webkit-flex !important;
        border: 1px solid #f4af2e;
        padding: 10px;
        margin: 0 10px; }
        html .record-page .section1 .series .series-content .series-img {
          width: 60px;
          height: 60px;
          flex: none;
          background-image: url(img/nature.jpg);
          background-size: cover; }
        html .record-page .section1 .series .series-content .series-intro {
          flex: 1;
          margin-left: 10px; }
          html .record-page .section1 .series .series-content .series-intro .series-name {
            font-size: 16px;
            color: black; }
          html .record-page .section1 .series .series-content .series-intro .series-number {
            font-size: 12px;
            color: black; }
      html .record-page .section1 .series a[href="#series2"] .series-img {
        background-image: url(img/youth.jpg); }
      html .record-page .section1 .series a[href="#series3"] .series-img {
        background-image: url(img/edu.jpg); }
      @media (min-width: 992px) {
        html .record-page .section1 .series {
          width: 750px; } }
  html .record-page .section2 {
    background-color: #58a292;
    border-top: 10px solid #19ca90;
    border-bottom: 10px solid #19ca90;
    padding-top: 10px;
    padding-bottom: 10px; }
    html .record-page .section2 .board {
      background-color: #e9e0d3;
      width: 90%;
      margin: auto;
      padding: 30px 5px 30px 5px;
      border-radius: 10px;
      max-width: 980px; }
      html .record-page .section2 .board .tab {
        position: absolute;
        width: 150px;
        height: 20px;
        background-color: #19ca90;
        text-align: center;
        color: #58a292;
        font-size: 12px;
        left: 50%;
        margin-left: -75px;
        margin-top: -40px;
        line-height: 13px; }
        html .record-page .section2 .board .tab:after, html .record-page .section2 .board .tab:before {
          content: " ";
          position: absolute;
          width: 0px;
          height: 0px;
          border-style: solid; }
        html .record-page .section2 .board .tab:before {
          left: -20px;
          border-width: 0 20px 20px 0;
          border-color: transparent #19ca90 transparent transparent; }
        html .record-page .section2 .board .tab:after {
          left: 150px;
          border-width: 20px 20px 0 0;
          border-color: #19ca90 transparent transparent transparent;
          top: 0; }
        html .record-page .section2 .board .tab a {
          color: #58a292; }
          html .record-page .section2 .board .tab a:before {
            font-family: FontAwesome;
            content: "\f0d7";
            margin-right: 5px; }
        @media (min-width: 768px) {
          html .record-page .section2 .board .tab {
            font-size: 14px; } }
      html .record-page .section2 .board .episodes {
        font-size: 12px; }
        html .record-page .section2 .board .episodes ul {
          margin-bottom: 0; }
          html .record-page .section2 .board .episodes ul li {
            display: flex;
            border-bottom: 1px solid #b3b3b3; }
            html .record-page .section2 .board .episodes ul li:last-child {
              border-bottom: 0; }
            html .record-page .section2 .board .episodes ul li .episode-number {
              text-align: center;
              width: 55px;
              flex: none;
              border-right: 1px solid #b3b3b3; }
              @media (min-width: 768px) {
                html .record-page .section2 .board .episodes ul li .episode-number {
                  width: 80px; } }
            html .record-page .section2 .board .episodes ul li .episode-name {
              margin-left: 5px;
              flex: 1; }
            html .record-page .section2 .board .episodes ul li .check {
              text-align: center;
              width: 65px;
              flex: none;
              border-left: 1px solid #b3b3b3;
              font-size: 10px; }
              html .record-page .section2 .board .episodes ul li .check a {
                color: #2f3b46; }
                html .record-page .section2 .board .episodes ul li .check a:hover {
                  opacity: 0.5; }
                html .record-page .section2 .board .episodes ul li .check a:before {
                  font-family: FontAwesome;
                  content: "\f06e";
                  margin-right: 2px; }
              @media (min-width: 768px) {
                html .record-page .section2 .board .episodes ul li .check {
                  font-size: 14px;
                  line-height: 26px;
                  width: 100px; } }
        @media (min-width: 768px) {
          html .record-page .section2 .board .episodes {
            font-size: 14px;
            line-height: 26px; } }
      html .record-page .section2 .board .episode-title {
        font-size: 16px;
        font-weight: bolder;
        text-align: center; }
      html .record-page .section2 .board .record-content .quiz {
        font-size: 12px;
        margin-top: 15px;
        line-height: 17px; }
        html .record-page .section2 .board .record-content .quiz .question {
          border-bottom: 1px solid #b3b3b3;
          padding-left: 3px; }
          @media (min-width: 768px) {
            html .record-page .section2 .board .record-content .quiz .question {
              padding-bottom: 3px; } }
        html .record-page .section2 .board .record-content .quiz ul {
          display: flex; }
          html .record-page .section2 .board .record-content .quiz ul .answer {
            flex: 1;
            border-bottom: 1px solid #b3b3b3;
            border-right: 1px solid #b3b3b3;
            text-align: center;
            padding: 3px 0; }
            html .record-page .section2 .board .record-content .quiz ul .answer:last-child {
              border-right: 0; }
          html .record-page .section2 .board .record-content .quiz ul .cor {
            color: #58a292; }
          html .record-page .section2 .board .record-content .quiz ul .err {
            color: #e83b4d; }
        @media (min-width: 768px) {
          html .record-page .section2 .board .record-content .quiz {
            font-size: 14px; } }
      @media (min-width: 768px) {
        html .record-page .section2 .board .record-content {
          padding: 0 30px; } }
      @media (min-width: 768px) {
        html .record-page .section2 .board {
          min-height: 420px; } }
    html .record-page .section2 .record {
      background-color: #58a292;
      border-top: 10px solid #19ca90;
      border-bottom: 10px solid #19ca90;
      padding-top: 10px;
      padding-bottom: 10px;
      height: calc(100vh - 50px);
      position: fixed;
      top: 50px;
      left: 0;
      display: none;
      width: 100%; }
      html .record-page .section2 .record .board {
        height: 100%; }
        html .record-page .section2 .record .board .record-content {
          height: 100%;
          overflow-y: scroll; }
  html .record-page footer {
    background-color: #2f3b46;
    color: white;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px; }
    html .record-page footer .frame {
      width: 90%;
      margin: auto; }
      @media (min-width: 991px) {
        html .record-page footer .frame span {
          margin-left: 15px; }
          html .record-page footer .frame span:first-child {
            margin-left: 0; } }
      html .record-page footer .frame .link {
        display: flex; }
        html .record-page footer .frame .link a {
          color: white;
          margin-left: 5px;
          flex: initial; }
          html .record-page footer .frame .link a:first-child {
            margin-left: 0; }
          @media (min-width: 991px) {
            html .record-page footer .frame .link a {
              margin-left: 15px; } }

/*# sourceMappingURL=style.css.map */
